<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema de Reservacion de Hoteles</display-name>
 <description>Reservacion de Hoteles</description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>

 <servlet>
   <servlet-name>ListaHoteles</servlet-name>
   <servlet-class>cr.ac.una.daw.reshotel.display.ListaHoteles</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>EliminarHotel</servlet-name>
   <servlet-class>cr.ac.una.daw.reshotel.display.EliminarHotel</servlet-class>
 </servlet>
 
  <servlet>
   <servlet-name>ListaHabitaciones</servlet-name>
   <servlet-class>cr.ac.una.daw.reshotel.display.ListaHabitaciones</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleHabitacion</servlet-name>
   <servlet-class>cr.ac.una.daw.reshotel.display.DetalleHabitacion</servlet-class>
 </servlet>
 <servlet>
	 <servlet-name>AgregarHabitacion</servlet-name>
	   <servlet-class>cr.ac.una.daw.reshotel.display.AgregarHabitacion</servlet-class>
 </servlet>
 <servlet>
	 <servlet-name>ActualizarHabitacion</servlet-name>
	   <servlet-class>cr.ac.una.daw.reshotel.display.ActualizarHabitacion</servlet-class>
 </servlet>
  <servlet>
   <servlet-name>EliminarHabitacion</servlet-name>
   <servlet-class>cr.ac.una.daw.reshotel.display.EliminarHabitacion</servlet-class>
 </servlet>
 

 <servlet-mapping>
   <servlet-name>ListaHoteles</servlet-name>
   <url-pattern>/reshotel/listaHoteles</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarHotel</servlet-name>
   <url-pattern>/reshotel/eliminarHotel</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>ListaHabitaciones</servlet-name>
   <url-pattern>/reshotel/listaHabitaciones</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleHabitacion</servlet-name>
   <url-pattern>/reshotel/detalleHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>AgregarHabitacion</servlet-name>
   <url-pattern>/reshotel/agregarHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarHabitacion</servlet-name>
   <url-pattern>/reshotel/actualizarHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarHabitacion</servlet-name>
   <url-pattern>/reshotel/eliminarHabitacion</url-pattern>
 </servlet-mapping>

</web-app>