<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema de Reservacion de Hoteles</display-name>
 <description>Reservacion de Hoteles</description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>
 <servlet>
   <servlet-name>reshotel</servlet-name>
   <servlet-class>org.springframework.web.servlet.DispatcherServlet
   </servlet-class>
   <load-on-startup>1</load-on-startup>
 </servlet>
 
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/listaClientes</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/detalleCliente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/actualizarCliente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/agregarCliente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/eliminarCliente</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/listaHabitaciones</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/detalleHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/actualizarHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/agregarHabitacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/eliminarHabitacion</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/listaHoteles</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/detalleHotel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/actualizarHotel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/agregarHotel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/eliminarHotel</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/listaReservaciones</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/detalleReservacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/actualizarReservacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/agregarReservacion</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>reshotel</servlet-name>
   <url-pattern>/reshotel/eliminarReservacion</url-pattern>
 </servlet-mapping>

</web-app>